body {
  font-family: "Netflix sans", sans-serif;
  background-color: #131313;
}

.myFooter {
  margin-top: 150px;
}

.settings {
  color: #8c8c8c;
}

.strive {
  background-color: #666666;
}

.allMaturity {
  background-color: #333333;
}

.serviceCode {
  background-color: #131313;
  color: #8c8c8c;
  border: #8c8c8c 1px solid;
}
