body {
  font-family: "Netflix sans", sans-serif;
  background-color: #131313;
}

.myFooter {
  margin-top: 150px;
}

.strive {
  background-color: #666666;
}

.allMaturity {
  background-color: #333333;
}
